body {
  background-color: white;
  color: black;
  font-family:  monospace;
}
.darkMode {
  background-color: rgb(1, 6, 26);
  color: white;
}
#results {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-decoration: underline;
}
button {
  margin: 15px;
}
